
        /* Styles de base - à personnaliser */
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
            background-color: #f4f4f4;
        }
        
        header {
            background: #35424a;
            color: #ffffff;
            padding: 20px 0;
            text-align: center;
        }
        
        nav ul {
            padding: 0;
            list-style: none;
        }
        
        nav li {
            display: inline;
            margin: 0 15px;
        }
        
        nav a {
            color: #ffffff;
            text-decoration: none;
        }
        
        section {
            padding: 20px;
            margin: 20px 0;
        }
        
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            margin-top: 1%;
        }

        #propos{
            margin-left: 30%;
        }
        
        #presentation {
            background: #e6e6e6;
        }
        
        .projet {
            background: #ffffff;
            margin: 20px 0;
            padding: 15px;
            border-left: 5px solid #35424a;
        }
        
        footer {
            background: #35424a;
            color: #ffffff;
            text-align: center;
            padding: 20px;
            margin-top: 20px;
        }
        
        @media(max-width: 768px) {
            .container {
                width: 95%;
            }
        }
        #contact{
            margin-top: -5%;
        }
        #photo{
           width:300px; 
           border-radius:50%; 
           float:left; 
           margin-right:20px; 
           margin-top: -3.5;
        }